# Build outputs
bin/
obj/
output-x64/
*.iso
!dist/*.iso
*.elf
*.bin

# Disk & Storage Images
512
*.img
!disk.img.gz
*.vmdk
*.vdi
*.qcow2

# Cosmos intermediate & caches
.cosmos/
*.log

# IDE & User-specific files
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
